body {
    font-family: Arial, sans-serif;
    background-image: url('assets/photo_2023-08-02_11-51-16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Montserrat;
    background-color: #FDEBD0;
}

.app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}

.restaurant {
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    display: block;
    height: auto;
    width: 600px;
    background-color: #FEE7C3;
    color: #D2691E;
    font-size: 27px;
    border-radius: 30px;
}

.frm {
    height: auto;
    width: auto;
    padding: 10px;
    background-color: #E6AF4B;
    color: #8B4513;
    border-radius: 10px;
    margin: 10px;
}

.frm * {
    color: #8B4513;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: #D2691E;
}

.btn {
    height: auto;
    width: 100px;
    padding: 10px;
    background-color: #D2691E;
    color: #FFD700;
    border-radius: 10px;
    margin: 10px;
}
